.card {
  width: 50%;
  height: 20%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 12px 22px;
  gap: 12px;
  margin-top: 20px;
}

.delete-btn {
  font-size: 24px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  margin-left: auto;
  display: block;

}