.card {
  margin: 12px auto;
  width: 44%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px 22px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-12px) scale(1.03);
}

h1 {
  width: 44%;
  margin: 12px auto;
}