.card {
    height: 10%;
    width: 10%;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.link {
    color: black;
    width: 12px;
    text-decoration: none;
}