body {
  width: 50%;
  margin: 22px auto;
}

.card {
  margin: 22px auto;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2px 12px;
}

.add-btn {
  width: 20%;
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  padding: 2px 12px;
  border-radius: 10px;
}

.add {
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  padding: 2px 12px;
  border-radius: 10px;
}

.delete-btn {
  background-color: black;
  font-size: 24px;
  color: #fff;
  margin-left: auto;
  display: block;
  border-radius: 10px;
}

input {
  width: 50%;
  height: 120px;
  font-style: 24px;

}

.input-box {

  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}